body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ffffff, #e9e9e9);
    /* background-image: url(data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"%3E%3Cpath fill="%23ffffff" d="M10 37.5c5 0 10-2.5 15-2.5s10 2.5 15 2.5 10-2.5 15-2.5 10 2.5 15 2.5 10-2.5 15-2.5 10 2.5 15 2.5v25c-5 0-10 2.5-15 2.5s-10-2.5-15-2.5-10 2.5-15 2.5-10-2.5-15-2.5-10 2.5-15 2.5-10-2.5-15-2.5zm0-10c5 0 10-2.5 15-2.5s10 2.5 15 2.5 10-2.5 15-2.5 10 2.5 15 2.5 10-2.5 15-2.5v25c-5 0-10 2.5-15 2.5s-10-2.5-15-2.5-10 2.5-15 2.5-10-2.5-15-2.5-10 2.5-15 2.5-10-2.5-15-2.5z"%3E%3C/path%3E%3C/svg%3E); */
    background-size: 100%;
}


#controls {
    text-align: left;
    margin-bottom: 20px;
}

#top-select {
    width: 200px; 
    height: 40px; 
    font-size: 16px;
    padding: 5px 10px; 
    border: 2px solid #ccc;
    border-radius: 5px; 
    background-color: #fff;
    color: #333; 
}


#top-select:hover {
    border-color: #666; 
}


#top-select:focus {
    outline: none; 
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
}


button {
    padding: 8px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
nav {
    background-color: rgb(17 24 39 );
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.user-info {
   
    align-items: center; 
   
}

#user-name {
    margin-right: 10px; 
    font-size: 16px;
    color: white;
}

#user-image {
    width: 40px;
    height: 40px; 
    border-radius: 50%;
}

nav ul li {
    display: inline; 
}


nav ul li.logout {
    margin-left: auto; 
    margin-right: 10px; 
}


nav ul li.logout a:hover {
    background-color: #45a049; 
    color: rgb(59, 40, 40); 
}


nav ul li a {
    color: white; 
    text-decoration: none; 
    font-size: 16px; 
    padding: 5px 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}


nav ul li a:hover {
    background-color: #45a049; 
}

.nav-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.modificar-contendor{
    padding-left: 7rem;
    background-color: rgb(20, 83, 45);
}
.contenedor{
    display: flex;
    /* padding-top: 4rem; */
    margin-top: 4rem;
}
.contenedor-modificar{
    margin-left: 4rem;
    background-color: rgb(20, 83, 45);
}
.card {
    flex-direction: column;
    background-color: rgb(20, 83, 45);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
}

.card-header {

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card-body {
   
    
 
}

.tracks-container {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 4rem;

    padding-right: 0rem;
}

.playlist-container {
 margin-top: 30px;
}
.metrica-contenedor{
    padding-top: 6rem;
    padding-bottom: 0rem;
 

}
.metrica-contenedor-barra{
    border-radius: 0.5rem;
    margin-top: -0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.card-body li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
    opacity: 0; 
    animation: fadeIn 0.5s ease forwards; 
}

.card-body strong {
        color: #4CAF50;
    }

.card-body p {
   
        margin-bottom: 15px;
    }

.card-body a {
 
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s;
}

.card-body a:hover {
   
    color: #2E8B57;
}

@keyframes buttonClick {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.button-click-animation {
    animation: buttonClick 0.3s ease;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.5s ease;
}
.show-element {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease; 
}
.card-body li.artist {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s;
    margin-bottom: 10px;
    font-size: 18px;
    opacity: 0; 
    animation: fadeIn 0.5s ease forwards; 
    font-weight: bold;
}
.card-body li.artist::marker {
    color: black; 
}

.card-body li.artist {
    color: #4CAF50; 
    font-weight: bold; 
}
.periodo-bonotes{
    gap: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;

}
.periodo-bonotes h3{
    color: #fff;
}
.periodo-bonotes p{
    color: rgb(214, 214, 214);
}
.padre-periododetiempo-contenedor{
    padding-left: 1rem;
    padding-right: 1rem;
}
.periododetiempo-contenedor{
    background-color: rgb(20, 83, 45);
    padding: 1.5rem;
    border-radius: 1.5rem;
    border-width: 2px;
 
}
.periodo-botones-contenedor{
    padding-right: 5rem;
    background-color:  #000000;
    box-sizing: border-box;
    border-radius: 1.5rem;
    padding-left: 1.5rem;
    border-width: 2px;
    padding-right: 0rem;

   
    
}
.periododetiempo-contenedor{
    color: white;
}
.periodo-boton{
   background-color: rgb(17 24 39);
}
.botonguardar{
    margin-top: 2rem;
    background-color: rgb(17 24 39 );
    padding-left: 1rem;
    margin-left: 43.2rem;   
}.botonguardar:hover{
background-color:#c7c7c7
}
.botonguardar:active{
   transform: scale(0.95);
    }

